.page {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: min-content auto;
    grid-template-areas: "sidebar content";
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    background: var(--white);
}

@value md: var(--breakpoint-md);

@media (max-width: md) {
    .page {
        grid-template-areas: "content content";
    }
}


