.collapse {
    color: var(--white) !important;
    background: rgba(0, 0, 0, 0.1) !important;
    transition: background var(--transition-duration) var(--transition-function);
    margin-top: auto;
}

.collapse:hover {
    background: rgba(0, 0, 0, 0.2) !important;
}

.icon {
    fill: var(--white);
    margin-left: auto;
}
